::before,
::after{
    box-sizing: border-box;
    margin: 0;   
}
*{
font-family: 'Josefin Sans', sans-serif;    
}
#date-div, h1{
    text-align: center;
    margin-top: 1.8em;
    font-weight: bold;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
#date-div{
    background-color: rgba(106, 209, 106, 0.3);
    width: 35vh;
    justify-content: center;
    border-radius: 50%;
}
h1{
    font-size: 2rem;
}